@using Koesell.Entity
@model IEnumerable<Product>

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @Html.Action("Slider","Home")
            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Kategoriler</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                    @Html.Action("_CategoryList","Category")
                    </div><!--/category-products-->

                    <div class="price-range">
                        <!--price-range-->
                        <h2>Fiyat Aralığı</h2>
                        <div class="well text-center">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="10000" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                            <b class="pull-left">0₺</b> <b class="pull-right">10000₺</b>
                        </div>
                    </div><!--/price-range-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Ürünler</h2>
                    @foreach (var item in Model)
                    {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a href="/Home/ProductDetails/@item.Id"><img src="~/Content/Image/@item.Image" style="max-width:255.5px; min-height:255.5px; min-width:255.5px; max-height:255.5px;" alt="" /></a>
                            <h2>@item.Price ₺</h2>
                            <p>@item.Name</p>
                            <a href="/Home/ProductDetails/@item.Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Görüntüle</a>
                        </div>
                    </div>
                </div>
            </div>}

                </div><!--features_items-->

                <div class="category-tab">
                    <!--category-tab-->

                </div><!--/category-tab-->

                @Html.Action("_FeaturedProductList", "Home")
                <!--/recommended_items-->

            </div>
        </div>
    </div>
</section>